# Exploring the Dataset

### Read in text data

In [18]:
import pandas as pd
dataset = pd.read_csv('SMSSpamCollection.tsv', sep='\t', header=None)
dataset.columns = ['label', 'body']
dataset.head()

  label                                               body
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

### Explore the dataset

In [19]:
# What is the shape of the dataset?

print("The dataset has {} rows and {} columns.".format(len(dataset), len(dataset.columns)))

The dataset has 5568 rows and 2 columns.

In [20]:
# How many spam/ham are there?

print("Out of {} rows, {} are spam and {} are ham.".format(
                                                            len(dataset),
                                                            len(dataset[dataset['label'] == 'spam']),
                                                            len(dataset[dataset['label'] == 'ham'])
                                                            ))

Out of 5568 rows, 746 are spam and 4822 are ham.

In [21]:
# How many missing data is there?

print('Number of null in label are: {}'.format(dataset['label'].isnull().sum()))
print('Number of null in text body are: {}'.format(dataset['body'].isnull().sum()))

Number of null in label are: 0
Number of null in text body are: 0

In [23]:
print("Number of null in label: {}".format(dataset['label'].isnull()))

Number of null in label: 0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
5538    False
5539    False
5540    False
5541    False
5542    False
5543    False
5544    False
5545    False
5546    False
5547    False
5548    False
5549    False
5550    False
5551    False
5552    False
5553    False
5554    False
5555    False
5556    False
5557    False
5558    False
5559    False
5560    False
5561    False
5562    False
5563    False
5564    False
5565    False
5566    False
5567    False
Name: label, Length: 5568, dtype: bool