### Supplemental Data Cleaning: Using a Lemmatizer

In [2]:
import nltk

ps = nltk.PorterStemmer()
wn = nltk.WordNetLemmatizer()

In [3]:
dir(wn)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 'lemmatize',
 'unicode_repr']

In [4]:
print(ps.stem('meaning'))
print(ps.stem('meanness'))

mean
mean

In [13]:
nltk.download('wordnet')
print(wn.lemmatize('meaning'))
print(wn.lemmatize('meanness'))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
meaning
meanness

In [14]:
print(ps.stem('goose'))
print(ps.stem('geese'))

goos
gees

In [15]:
print(wn.lemmatize('goose'))
print(wn.lemmatize('geese'))

goose
goose

### Read in raw text

In [16]:
import pandas as pd
import re
import string

nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')
pd.set_option('display.max_colwidth', 100)

dataset = pd.read_csv('SMSSpamCollection.tsv', sep='\t', header=None)
dataset.columns = ('label', 'body')
dataset.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

  label                                                                                                 body
0   ham  I've been searching for the right words to thank you for this breather. I promise i wont take yo...
1  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
2   ham                                        Nah I don't think he goes to usf, he lives around here though
3   ham                        Even my brother is not like to speak with me. They treat me like aids patent.
4   ham                                                                  I HAVE A DATE ON SUNDAY WITH WILL!!

### Cleaning Text data

In [18]:
def clean_text(text):
  text = "".join([word for word in text if word not in string.punctuation])
  tokens = re.split('\W+', text)
  text = [word for word in tokens if word not in stopword]
  return text

dataset['cleaned_text'] = dataset['body'].apply(lambda x: clean_text(x.lower()))
dataset.head()

  label  ...                                                                                         cleaned_text
0   ham  ...  [ive, searching, right, words, thank, breather, promise, wont, take, help, granted, fulfil, prom...
1  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
2   ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]
3   ham  ...                                              [even, brother, like, speak, treat, like, aids, patent]
4   ham  ...                                                                                       [date, sunday]

[5 rows x 3 columns]

In [20]:
def lemmatize(tokenized_text):
  text = [wn.lemmatize(word) for word in tokenized_text]
  return text

dataset['lemmatized'] = dataset['cleaned_text'].apply(lambda x: lemmatize(x))
dataset.head()

  label  ...                                                                                           lemmatized
0   ham  ...  [ive, searching, right, word, thank, breather, promise, wont, take, help, granted, fulfil, promi...
1  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
2   ham  ...                                                    [nah, dont, think, go, usf, life, around, though]
3   ham  ...                                               [even, brother, like, speak, treat, like, aid, patent]
4   ham  ...                                                                                       [date, sunday]

[5 rows x 4 columns]